/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global fixed background for app */
body {
  @apply bg-center bg-cover bg-fixed;
  background-image: url('/assets/hero-combo.png');
}

/* ——— Legacy global utilities ——— */
a {
  color: #0077cc;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
